// Fonts
$font_main: 'Roboto', sans-serif;
$font_accent: 'Playfair Display', serif;
$font_secondary: 'Raleway', sans-serif;

// Colors
$dark: #ffffff;
$light: #ffffff;
$light_accent: #9b916c;
$accent: #000000;
$dark_accent: #ffffff;
$white: #fff;
$footer_bg: #2D343C;
$placeholder: #BEBEBE;
$privacy: #E7E7E7;

// Media
$tablet: 959px;